@import "variables";
@import "bootstrap";

body {
  margin-top: 51px;
  padding-top: $navbar-margin-bottom;
}

.nav-letter {
  margin-bottom: $navbar-margin-bottom;
  .btn {
    padding-left: 0;
    padding-right: 0;

    &:not(:first-child) { border-left: 0 }
  }
}
